@using ProtectorAPP.Models.Sistemas
@model List<SistemasViewModel>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container d-flex flex-md-column">
    <div class="row">
        <h1 class="display-4">Sistemas</h1>
    </div>
    <div class="row mt-2">
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <a asp-action="Redirigir" asp-controller="Home" asp-route-urlSistema="@item.Url" class=" btn systems-container">
                    <h4>@item.Descripcion</h4>
                </a>
            }

        }
        
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/Home/Index.css" />
}