@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container d-flex flex-md-column">
    <div class="row">
        <h1 class="display-4">Sistemas</h1>
    </div>
    <div class="row mt-2">
        <div class=" btn systems-container">
            <h4>Inventarios</h4>
        </div>
        <div class=" btn systems-container mx-3">
            <h4>Ventas</h4>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/Home/Index.css" />
}